@import "src/styles/media";

.carousel {
  display: flex;
  gap: 32px;
  flex-direction: column-reverse;
  align-items: center;
  @media (min-width: $sm) {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    padding-top: 85px;
  }
  @media (min-width: $md) {
    padding-top: 80px;
    margin-bottom: -110px;
    gap: 100px;
    justify-content: center;
  }
  @media (min-width: $lg) {
    gap: 80px;
  }

  .left {
    max-width: 100%;
    @media (min-width: $sm) {
      max-width: 383px;
    }
    @media (min-width: $md) {
      max-width: 450px;
    }
  }

  .right {
    width: 168px;
    height: 343px;
    position: relative;
    transform: rotate(4deg) translateY(-15px);
    @media (min-width: $sm) {
      width: 220px;
      height: 449px;
      transform: rotate(4deg) translateY(-20px);
    }
    @media (min-width: $md) {
      width: 290px;
      height: 592px;
      transform: rotate(4deg) translateY(-110px);
    }
  }

  &__image {
    max-width: 100%;
    display: block;

    @media (max-width: 567px) {
      max-width: 60%;
    }
  }

  &__arrow_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
  }

  .slider {
    position: relative;
    overflow: hidden;
    top: 6px;
    max-width: 154px;
    @media (min-width: $sm) {
      max-width: 201px;
      top: 9px;
    }
    @media (min-width: $md) {
      max-width: 265px;
      top: 10px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .bg {
    background-image: url("../../../../public/iphone.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    max-width: 100%;
    height: 100%;
  }
}


.carousel-arrow {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 32px;
  justify-content: space-between;
  @media (min-width: $sm) {
    margin-top: 92px;
    justify-content: flex-start;
  }

  &__arrow {
    width: 72px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 30px;
    background: #E7E8FC;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:disabled {
      background: #e7e8fc6e;

      svg {
        path {
          stroke: #0d11412e;;
        }
      }
    }
  }

  &__slider-count {
    margin: 24px 0;
    min-width: 47px;
    font-size: 23px;
    line-height: 26px;
  }
}
