:root {
  --color-primary-black: #0D1141;
  --color-white: #fff;
  --color-blue: #4833F5;
  --color-light-grey: #F7F8FC;

  --font-primary: 'Aeonik Pro Regular', sans-serif;
  --font-secondary: 'Aeonik Pro Medium', sans-serif;
}
