:root {
  --color-primary-black: #0D1141;
  --color-deep-black: #111215;
  --color-white: #fff;
  --color-blue: #4833F5;
  --color-light-grey: #F7F8FC;
  --color-grey: #7B7F89;

  --font-primary: 'Aeonik Pro Regular', sans-serif;
  --font-secondary: 'Aeonik Pro Medium', sans-serif;
}
