@import "normalize";
@import "fonts";
@import "variables";
@import "media";
@import "reset";
@import './icons/style.css';
@import 'src/components/ui/icon/icon.scss';

:root {
  --extra-light-blue: #327aff;
  --extra-light-grey: #f7f6fa;
  --extra-bluegrey: #ebedfd;
  --primary-black: #282141;
  --primary-blue: #364fec;
  --light: #fff;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Object Sans", serif;
  font-weight: 400;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}

.container {
  max-width: 1040px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 567px) {
    //padding: 0 20px;
  }
}

.main {
  background: var(--extra-light-blue) url("../assets/images/bg.svg") center no-repeat;

  display: flex;
  align-items: end;
  flex-direction: column;

}

.swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}

.blue {
  background-color: var(--extra-light-grey);
}
