@import "normalize";
@import "fonts";
@import "variables";
@import "media";
@import "reset";
@import './icons/style.css';
@import 'src/components/ui/icon/icon.scss';
@import 'src/components/ui/grid/grid.scss';

:root {
  --extra-light-blue: #327aff;
  --extra-light-grey: #f7f6fa;
  --extra-bluegrey: #ebedfd;
  --primary-blue: #364fec;
  --light: #fff;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Object Sans", serif;
  font-weight: 400;
  background: #F7F8FC;
}

.swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}

.blue {
  background-color: var(--extra-light-grey);
}
