.docs {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 72px;
  padding-top: 44px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 16px;

  &__link {
    color: var(--primary-black);
    display: block;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      color: var(--primary-blue);
    }
  }

  &__link_active {
    color: var(--primary-blue);
  }
}

.main {
  font-size: 12px;
  line-height: 14px;

  h1 {
    line-height: 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  h2 {
    font-weight: 500;
    font-size: 14px;
  }
}
