.header {
  --height: 72px;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 24px 44px;
  background: var(--color-white);
  top: 0;
  z-index: 9;
  border-radius: 0 0 24px 24px;
  @media (max-width: 768px) {
    --height: 48px;
  }
}


.menu-links {
  display: flex;
  gap: 32px;

  &__text {
    cursor: pointer;
  }
}


.social-links {
  display: flex;

  &__item {
    a {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
}
