@import "src/styles/media";

.header {
  --height: 72px;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: var(--color-white);
  border-radius: 0 0 24px 24px;
  transition: justify-content 3s ease;
  @media (min-width: $sm) {
    justify-content: space-between;
  }
  @media (min-width: $lg) {
    padding: 24px 44px;
  }
  @media (max-width: 768px) {
    --height: 48px;
  }

  &.show-download-button {
    justify-content: space-between;

    .header__download-button {
      display: block;
    }
  }

  &-wrapper {
    position: sticky;
    top: 0;
    z-index: 9;
  }

  &__img {
    display: block;
    width: 150px;
    height: auto;
    @media (min-width: $lg) {
      width: 200px;
    }
  }

  &__download-button {
    padding: 6px 16px;
    font-size: 12px;
    line-height: 14px;
    display: none;
  }
}


.menu-links {
  display: flex;
  gap: 32px;

  &__text {
    cursor: pointer;
  }
}


.social-links {
  display: flex;

  &__item {
    a {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }
}
