.header {
  --height: 72px;

  &__inner {
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 2px;
  }

  &--blue {
    background-color: var(--extra-light-blue);
  }

  @media (max-width: 768px) {
    --height: 48px;
  }
}
