.button {
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
  height: 48px;
  border: 1px solid var(--extra-bluegrey);
  padding-left: 10px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
}
