.carousel {
  //position: relative;
  display: grid;
  padding-top: 60px;
  grid-template-columns: 1fr 300px;
  column-gap: 24px;

  @media (max-width: 1024px) {
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 268px;
  }

  @media (max-width: 567px) {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 0;
  }

  &__left {
    display: grid;
    align-items: end;
    padding-bottom: 48px;
    flex-grow: 1;

    @media (max-width: 567px) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 46px;
      padding-top: 40px;
    }
  }

  &__image {
    max-width: 100%;
    display: block;

    @media (max-width: 567px) {
      max-width: 60%;
    }
  }

  &__right {
    position: relative;

    @media (max-width: 768px) {
    }

    @media (max-width: 567px) {
      display: flex;
      justify-content: center;
    }
  }

  &__col {
    width: 100%;
  }

  &__buttons {
    display: flex;
    column-gap: 12px;

    max-width: 422px;

    @media (max-width: 920px) {
      flex-direction: column;
      row-gap: 12px;
      max-width: 100%;
    }
  }

  &__button {
    background-color: transparent;
    outline: none;
    border-radius: 24px;
    cursor: pointer;
    height: 48px;
    border: 1px solid var(--extra-bluegrey);
    padding-left: 10px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
    width: 100%;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #5692ff;
    }
  }

  &__item {
    img {
      max-width: 100%;
      height: auto;
    }

    position: relative;
    top: 12px;
    left: 10px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__item_title {
    flex-grow: 1;
    color: var(--light);
    font-size: 44px;
    font-weight: 500;
    margin: 0 0 24px;
    font-family: "Object Sans", serif;

    @media (max-width: 1024px) {
      font-size: 34px;
    }

    @media (max-width: 810px) {
      font-size: 24px;
    }
  }

  &__arrows {
    display: flex;
    column-gap: 12px;
    z-index: 100;

    @media (max-width: 576px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      justify-content: space-between;
      width: 100%;
    }
  }

  &__arrow_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
  }

  &__phone {
    max-width: 328px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 100;
  }
}

.slider {
  position: relative;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  //background-color: #fff;

  &::after {
    content: "";
    display: block;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    left: 12px;
    top: 0;
    right: 12px;
    bottom: 0;
  }

  &::before {
    background-image: url("../../../public/phone.png");
    background-repeat: no-repeat;
    content: "";
    z-index: 100;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
  }

  @media (max-width: 767px) {
    max-width: 268px;
  }

  @media (max-width: 576px) {
    //top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &__item {
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
  }
}

.sliderTitles {
  max-width: 640px;
  margin-left: 0 !important;

  @media (max-width: 567px) {
    max-width: 480px;
    margin: 0 auto !important;
  }
}
