.footer {
  background-color: var(--primary-blue);
  padding: 44px 0;
  display: grid;
  grid-template-rows: 1fr auto;

  &__inner {
  }

  &__copy {
    color: var(--extra-bluegrey);
    margin-top: 44px;
  }
}

.nav {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: 12px;
  }

  &__item {
  }

  &__link {
    color: var(--extra-bluegrey);
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
  }
}
