@import "src/styles/media";

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  @media (min-width: $xs) {
    max-width: 420px;
  }
  @media (min-width: $sm) {
    max-width: 582px;
  }

  &-wrapper {
    background: var(--color-light-grey);
    border-radius: 24px 24px 0 0;
    padding: 44px 0;
    @media (min-width: $sm) {
      padding: 64px 0;
    }
  }
  &-loading {
    opacity: 50%;
    cursor: progress !important;
    position: relative;
    &::after {
      content: "";
      width: 34px;
      height: 34px;
      position: absolute;
      top: 6px;
      left: calc(50% - 17px);
      background: transparent;
      box-sizing: border-box;
      border-top: 4px solid white;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 100%;
      animation: spin 0.6s ease-out infinite;
    }
  }

  &__buttons {
    margin-top: 24px;
    display: flex;
    column-gap: 8px;
    @media (min-width: $sm) {
      margin-top: 32px;
    }
    .link {
      cursor: pointer;
      display: flex;
    }
  }
}

@keyframes spin {
	100% {transform: rotate(360deg)}
}