.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-wrapper {
    background: var(--color-light-grey);
    border-radius: 0 0 24px 24px;
  }

  &__main-info {
    padding: 196px 0 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    width: 100%;

    .description {
      max-width: 534px;
    }
  }

  &__carousel {
    padding-bottom: 74px;
    width: 100%;
  }
}


.icon-carousel {
  & > div {
    transition-timing-function: linear !important;
  }

  &__slider {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      background: var(--color-light-grey);
      width: 62px;
      height: 62px;
    }
  }
}
